/* Styles of cart.html*/

.cart-card {
    align-items: center;
    border: thin solid #afafaf;
    border-radius: .5rem;
    display: flex;
    flex-wrap: nowrap;
    height: 8rem;
    margin-bottom: .3rem;
    padding: 0 1rem;
    transition: all 0.25s;
}

.cart-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.cart-card-img img {
    height: 100px;
    vertical-align: middle;
    width: 100px;
}

.cart-card-info {
    display: flex;
    flex-direction: column;
    margin-left: 1.7rem;
    width: 70%;
    padding: 0;
    vertical-align: middle;
}

.cart-card-info h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .1rem;
}

.cart-card-info p{
    margin-bottom: 0;
}

.cart-card-price {
    display: flex;
    font-size: 1.5rem;
    font-weight: 800;
    justify-content: flex-end;
    width: 11%;
    height: 2rem;
}

.cart-card-remove {
    margin-left: 1rem;
}

.cart-card-remove img {
    height: 30px;
    vertical-align: middle;
    width: 30px;
}

.cart-card-remove:hover img {
    cursor: pointer;
}

.cart-empty {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    height: 5rem;
    justify-content: center;
}

.cart-purchase-button {
    border: thin solid black;
    font-size: 1.1rem;
    margin-left: .8rem;
    border-radius: .4rem;
}

.cart-purchase-button:hover {
    background-color: #3182fc;
    border: thin solid black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-.9px);
}

.cart-totalprice-container {
    align-items: center;
    display: flex;
    height: 2.5rem;
    justify-content: flex-end;
    margin-top: .2rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.cart-totalprice {
    /* border: thin solid tomato; */
    display: flex;
    justify-content: flex-end;
    min-width: 6rem;
}

.cart-totalprice-text {
    margin-right: .2rem;
}

.main-cart {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    width: 1100px;
    padding-top: 10rem;
}

.main-cart h1 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: .3rem;
}

@media only screen and (max-width: 1140px) {
    .main-cart {
        max-width: 50rem;
    }

    .cart-card-info {
        width: 70%;
    }

    .cart-card-price {
        width: 20%;
    }

}

@media only screen and (max-width: 850px) {
    .main-cart {
        max-width: 40rem;
    }

    .cart-card-price {
        width: 30%;
    }
}

@media only screen and (max-width: 670px) {
    .cart-card-img {
        display: none;
    }

    .main-cart {
        max-width: 30rem;
    }

    .cart-card-info {
        margin-left: .5rem;
        width: 60%;
    }

    .cart-card-price {
        width: 30%;
    }

}

@media only screen and (max-width: 550px) {
    .main-cart {
        margin: 0 1rem;
    }
}