@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Calibri';
    font-size: 16px;
    height: 100%;
    width: 100%;
}

.breadcrumb-container {
    display: flex;
    margin: 0 auto;
    max-width: 1500px;
    height: 2rem;
}

.cart-icon {
    height: 30px ;
    width: 30px;
}

.cart-icon:hover {
    cursor: pointer;
}

.container {
    display: block;
    margin: 0 auto;
    margin-left: 0;
    padding-left: 0;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.card-product {
    border: thin solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    height: 22rem;
    margin: 0 20px 30px 20px;
    overflow: hidden;
    padding-top: .7rem;
    text-align: center;
    transition: all 0.25s;
    width: 20.6rem;
}

.container-card .card-product:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.container-card .card-product img {
    height: 220px;
    margin-bottom: .4rem;
    width: 240px;
}

.container-card .card-product button {
    background-color: white;
    color: #3498db;
    font-family: arial;
    font-size: .85rem;
    font-weight: 500;
    text-decoration: none;
}

.container-card .card-product button:hover {
    cursor: pointer;
}

.container-card .card-product h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.container-card .card-product p {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
}

.container-card .card-product input {
    border: thin solid #AFAFAF;
    border-radius: .3rem;
    font-size: .9rem;
    height: 1.3rem;
    margin: 0 auto;
    text-align: center;
    width: 2rem;
}

.filters-container {
    border-right: 1.5px solid #888;
    height: fit-content;
    min-width: 12rem;
}

.filters-section {
    margin-bottom: 1rem;
}

.header {
    background-color: rgba(0,0,0,0.85);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header-brand-logo {
    height: 80px;
}

.header-brand-title {
    color: #4FFF54;
    font-family: 'Abel', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 auto;
}

.header-container {
    align-items: center;
    display: flex;
    height: 6rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1500px;
}

.header-dropdown {
    border: thin solid #AFAFAF;
    max-height: 30rem;
    overflow: auto;
    padding: 0;
    width: 25rem;
}

.header-dropdown-badge-container {
    margin-left: .5rem;
    margin-top: .2rem;
}

.header-dropdown-btn {
    display: flex;
    margin: .3rem 0;
    justify-content: center;
    width: 8rem;
}

.header-dropdown-btn:active {
    background-color: white;
}

.header-dropdown-btncontainer {
    display: flex;
    justify-content: center;
}

.header-dropdown-emptycart {
    align-items: center;
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 10rem;
}

.header-dropdown-info {
    display: table;
    margin-left: 1rem;
    width: 12rem;
}

.header-dropdown-info h5 {
    display: table-row;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    vertical-align: middle;
}

.header-dropdown-info p {
    display: table-row;
    font-size: 1rem;
    vertical-align: middle;
}

.header-dropdown-item {
    align-items: center;
    border-bottom: thin solid #DDDDDD;
    display: flex;
    padding: .3rem 0;
}

.header-dropdown-item img {
    margin-left: .5rem;
    width: 70px;
    height: 70px;
}

.header-dropdown-mainbtn {
    display: flex;
}

.header-dropdown-price {
    display: table;
}

.header-dropdown-price p {
    display: table-row;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}

.main-container {
    display: flex;
    margin: 0 auto;
    padding-top: 11rem;
    max-width: 1500px;
}

.modal-container {
    background-color: rgba(0,0,0,0.4);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
.modal-content {
    background-color: #fefefe;
    border: 1.5px solid #888;
    margin: 18% auto;
    padding: 0 20px;
    width: 30%;
}

.modal-close {
    align-items: center;
    color: #aaa;
    display: flex;
    font-size: 28px;
    font-weight: bold;
    height: 1.3rem;
}

.modal-header {
    border-bottom: .05rem solid #888;
    display: flex;
    margin-bottom: .5rem;
    padding: .3rem 0;
}

.modal-header p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.nav-container {
    border-top: thin solid #888;
    margin: 0 auto;
    max-width: 1500px;
}

.nav-dropdown-item:focus {
    background-color: rgba(0,0,0,0.85);
    color: whitesmoke;
}

.nav-dropdown-ul {
    border-top: 0;
    padding: 0;
}

.nav-li-container {
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-link {
    color: white;
    padding-left: 0;
    text-decoration: none;
}

.nav-link:hover {
    color: #4FFF54;
}